
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


h1 {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    margin: 0;
}


#bar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

#bar a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}


#figsup {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block;
    margin-top: 60px; 
}


h2 {
    text-align: center;
}

/* Estilos para el aside */
aside {
    float: right; /* Cambia la posición flotante a la derecha */
    width: 20%; /* Reducir el ancho del aside */
}

/* Estilos para la imagen en el aside */
aside img {
    max-width: 100%; /* Ajustar la anchura máxima de la imagen */
    height: auto; /* Mantener la proporción de aspecto */
}


section {
    float: right;
    width: 70%;
    margin-left: 5%;
}

article {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    clear: both;
}